@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0F766E;
    --color-secondary: #0284C7;
    --color-accent: #F59E0B;
    --color-success: #22C55E;
    --color-error: #EF4444;
    --color-background: #F8FAFC;
    --color-foreground: #1E293B;
  }
}

@layer base {
  body {
    @apply antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-rubik;
  }
}
