@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --color-primary: #0F766E;
    --color-secondary: #0284C7;
    --color-accent: #F59E0B;
    --color-success: #22C55E;
    --color-error: #EF4444;
    --color-background: #F8FAFC;
    --color-foreground: #1E293B;
  }
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-rubik), sans-serif;
  }
}
